html,
body {
  display: table;
  height: 100%;
  width: 100%;
}

header {
  padding: ($spacing * 3 + 2px) $spacing $spacing + 2.5px $spacing;

  [class$="inner"] {
    @include page-width;
    padding: 0;
    max-width: $page-width - $spacing * 4;
  }
}

footer {
  display: table-row;
  height: 1px;

  [class$="inner"] {
    @include page-width;
  }
}

.container {
  display: table-row;
  height: 100%;

  [class$="inner"] {
    display: table;
    @include page-width;
    padding: 0 $spacing * 2;
    border-spacing: 0 $spacing;

    @media #{$mobile} {
      padding: 0;
      border-spacing: 0;
    }

    > * {
      display: table-cell;

      @media #{$mobile} {
        display: block;
        margin: $spacing 0;
      }
    }
  }
}