$page-width: 600px;
$sidebar-width: 280px;
$spacing: 10px;

$mobile: "only screen and (max-width : 600px)";
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Colors

$color-primary: #dc3729;
$color-secondary: #1e1e20;
$color-background: #efeff4;
$color-text: $color-secondary;
$color-label: #6d6d72;

// Fonts
$font-sans: "Helvetical Neue", "Helvetica", sans-serif;