@import "vendor/normalize";
@import "vendor/base";
@import "settings";
@import "mixins";
@import "layout";

body {
  background: $color-background;
  font-family: $font-sans;
  letter-spacing: -.25px;
  padding-top: $spacing * 7;
  color: #fff;
  font-size: 0;
}

header {
  text-align: center;
  background: $color-primary;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  [class$="inner"] {
    position: relative;
  }
}

.last-fill {
  cursor: pointer;
  position: absolute;
  right: -$spacing;
  bottom: -$spacing;
  width: $spacing * 4 + 24px;
  height: $spacing * 4 + 18px;
  text-align: right;
  vertical-align: bottom;
  font-size: 14px;

  span {
    display: inline-block;
    position: absolute;
    bottom: $spacing;
    right: $spacing;
    text-align: center;
    font-family: Georgia, serif;
    font-style: italic;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 0;
    width: 24px;
    height: 24px;
    line-height: 22px;

    @media #{$retina} {
      border-width: 1.5px;
    }
  }
}

label {
  display: block;
  padding: $spacing * 1.25;
  padding-bottom: $spacing * .75;
  color: $color-label;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

input {
  display: block;
  border: 0;
  border-radius: 4px;
  padding: $spacing * 1.25;
  -webkit-appearance: none;
     -moz-appearance: none;
  width: 100%;
  color: $color-text;
  font-size: 16px;
  margin-bottom: $spacing;
  border: 1px solid #c8c7cc;

  @media #{$mobile} {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  @media #{$retina} {
    border-width: .5px;
  }

  &[type="radio"] {
    display: none;

    &[value="0"] + label {
      border-radius: 4px 0 0 4px;

      @media #{$mobile} {
        border-radius: 0;
        border-left: 0;
        padding-left: .5px;
      }

      @media #{$retina} {
        padding-left: .25px;
      }
    }

    &[value="100"] + label {
      border-radius: 0 4px 4px 0;

      @media #{$mobile} {
        border-radius: 0;
        border-right: 0;
        padding-right: .5px;
      }

      @media #{$retina} {
        padding-right: .25px;
      }
    }

    &[value="50"] + label {

    }

    &:checked + label {
      color: #fff;
      background: $color-primary;
      border-color: $color-primary;
      z-index: 1;
    }

    & + label {
      display: inline-block;
      width: calc(20%);
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #c8c7cc;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: $spacing * 1.25;
      margin-bottom: $spacing;
      background: #fff;
      margin-left: -1px;
      margin-right: -1px;
      text-transform: none;

      box-sizing: content-box;

      @media #{$retina} {
        border-width: .5px;
        margin-left: -.5px;
        margin-right: -.5px;
      }
    }
  }

  &[type="submit"] {
    background: $color-primary;
    color: #fff;
    margin-top: $spacing * 3;
    margin-bottom: $spacing * 3;
    border-color: $color-primary;
  }
}

iframe {
  display: none;
}

.debug {
  font-size: 16px;
}