@import "vendor/normalize";
@import "vendor/base";
@import "settings";
@import "mixins";
@import "layout";

body {
  background: $color-secondary;
  font-family: $font-sans;
  letter-spacing: -.25px;
  padding-top: 56px;
  color: #fff;
}

header {
  text-align: center;
  background: $color-primary;
  color: #fff;
  font-weight: 600;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
}

label {
  display: block;
  padding: $spacing * 1.25;
  color: $color-label;
  font-weight: 300;
}

input {
  display: block;
  border: 0;
  border-radius: 0;
  padding: $spacing * 1.25;
  width: 100%;
  color: $color-text;

  &[type="submit"] {
    background: $color-primary;
    color: #fff;
    margin-top: $spacing * 2;
    font-weight: 500;
  }
}